<% @messages.each do |message| %>
<div class="col-md-8 col-md-offset-2">
  <div class="message">
    <h2 class="message-title"><%= message.title %></h2>
    <%= link_to "Join Conversation", message, class: "btn btn-default" %>
  </div>
</div>
<% end %> 
